*[class^=bf], *[class^=bf]:before, *[class^=bf]:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bf-person, .bf-logo, .bf-image, .bf-document, .bf-press {
    display: inline-block;
    margin: 10px auto 20px;
    padding: 10px;
    margin: 10px;
    width: 224px;
    border: 2px solid transparent;
}

    .bf-person:hover, .bf-logo:hover, .bf-image:hover, .bf-document:hover, .bf-press:hover {
        border-color: #eee;
    }

.bf-element-link {
    text-decoration: none;
}

    .bf-element-link:hover {
        text-decoration: none;
    }

.bf-person-head {
    margin: 0 0 10px 0;
}

    .bf-person-head h1, .bf-person-head h3 {
        text-decoration: none;
    }

.bf-person-name, .bf-logo-name, .bf-image-name, .bf-document-name, .bf-press-name {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    margin: 0 0 10px;
}

.bf-person-title {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-bottom: 0px;
}

.bf-person-image {
    height: 200px;
    width: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bf-person-links {
    margin: 10px auto;
    height: 30px;
}

.bf-link-icon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    float: left;
}

.bf-twitter-icon {
    background-image: url(\'//d2sdf28wg0skh3.cloudfront.net/icons/twitter.png\');
}

.bf-linkedin-icon {
    background-image: url(\'//d2sdf28wg0skh3.cloudfront.net/icons/linkedin.png\');
}

.bf-brandfolder-link {
    font-size: 10px;
}

.bf-logo-head, .bf-image-head, .bf-document-head, .bf-press-head {
    margin: 10px 0 0 0;
}

.bf-logo-image, .bf-image-image, .bf-document-image, .bf-press-image {
    height: 128px;
    width: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
