<footer>
    <div class="footer_inner clearfix">
        <div class="footer_top_holder">
            <div class="footer_top">
                <div class="container">
                    <div class="container_inner">

                        <div class="three_columns clearfix">
                            <div class="column1">
                                <div class="column_inner">
                                    <div id="text-3" class="visible-all-devices widget widget_text">
                                        <div class="textwidget">
                                            <img class="footer_logo" src="~/Content/images/FooterLogo.png" width='150' alt="logo" />

                                            <div class="separator  transparent center  " style="margin-top: 6px;margin-bottom: 2px;"></div>

                                            <a href="#">
                                                RM.226, No. 3 Chiling Rd., Gaofeng Community, Dalang Street, Longhua Dist., Shenzhen, China<br />
                                                TEL: +86 755 23762742<br />
                                            </a><br />
                                            Email: <a href="minfo@udcbelhasa.com">Email: julia@jandftrading.com</a><br />

                                            <div class="separator  transparent center  " style="margin-top: 12px;margin-bottom: 2px;"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column2" style="width:336px;">
                                <div class="column_inner">
                                    <div id="text-11" class="visible-all-devices widget widget_text">
                                        <div class="textwidget" >
                                            <font color="#FFFFFF"><b></b></font>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 3px;"></div>
                                            <a href="~/Content/index.php/about"></a>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 3px;"></div>
                                            <a href="~/Content/index.php/our_philosophy"></a>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 3px;"></div>
                                            <a href="~/Content/index.php/our_team"></a>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 3px;"></div>
                                            <a href="~/Content/index.php/machineries"></a>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 9px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="column3">
                                <div class="column_inner">
                                    <div id="text-10" class="visible-all-devices widget widget_text">
                                        <h5>Copyright</h5>
                                        <div class="textwidget">Shenzhen J & F Trading Co., Ltd.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>