<footer>
    <div class="footer_inner clearfix">
        <div class="footer_top_holder">
            <div class="footer_top">
                <div class="container">
                    <div class="container_inner">

                        <div class="three_columns clearfix">
                            <div class="column1">
                                <div class="column_inner">
                                    <div id="text-3" class="visible-all-devices widget widget_text">
                                        <div class="textwidget">
                                            <img class="footer_logo" src="~/Content/images/FooterLogo.png" width='150' alt="logo" />

                                            <div class="separator  transparent center  " style="margin-top: 6px;margin-bottom: 2px;"></div>

                                            <a href="#">
                                                P.O. Box 35274, Dubai United Arab Emirates<br />
                                                TEL: 04-285 8309<br />TEL: 04-285 2837<br />FAX: 04-285 6079
                                            </a><br />
                                            Email: <a href="minfo@udcbelhasa.com">info@udcbelhasa.com</a><br />

                                            <div class="separator  transparent center  " style="margin-top: 12px;margin-bottom: 2px;"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column2">
                                <div class="column_inner">
                                    <div id="text-11" class="visible-all-devices widget widget_text">
                                        <div class="textwidget">
                                            <font color="#FFFFFF"><b>Company</b></font>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 3px;"></div>
                                            <a href="~/Content/index.php/about">About</a>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 3px;"></div>
                                            <a href="~/Content/index.php/our_philosophy">Our Philosophy</a>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 3px;"></div>
                                            <a href="~/Content/index.php/our_team">Our Team</a>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 3px;"></div>
                                            <a href="~/Content/index.php/machineries">Machineries</a>
                                            <div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 9px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="column3">
                                <div class="column_inner">
                                    <div id="text-10" class="visible-all-devices widget widget_text">
                                        <h5>Copyright</h5>
                                        <div class="textwidget">© 2015 United Decoration Company L.L.C.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>